.vs/
[Oo]bj/
[Bb]in/
*.user
*.suo
obj/Debug/net10.0/test notofru.AssemblyInfo.cs
obj/Debug/net10.0/test notofru.AssemblyInfoInputs.cache
obj/Debug/net10.0/test notofru.assets.cache
*.editorconfig
obj/Debug/net10.0/test notofru.GlobalUsings.g.cs
